\.venv
miniconda.sh

\mini_lidar_sim\docs
\venv
\mini_lidar_web\.vercel

__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
*.egg
*.whl
*.tar.gz
*.zip
*.bak
*.tmp
*.swp
*.swo   


